* {
  margin: 0;
  padding: 10;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #34434b;
}
root {
  --bg: #1f1f1f;
  --header-bg: #1f1f1f;
  --header-bg-top: #1f1f1f;
}
.weather-card-body {
  width: 600px;
  height: 300px;
  background: linear-gradient(135deg, #2b6998, #e6e8e6);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  display: flex;
}
.weatherInfo-container {
  width: 300px;
  height: 150px;
  color: "black";
  display: flex;
}
h1 {
  color: teal;
}

.title-container {
  background-color: #fff;
  opacity: 0.6;
}
